body {
  margin: 0;
  background-color: #EAF6F6;
  text-align: center;
  padding: 0 100px
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: "Montserrat", cursive;
  color: #66BFBF;
}

h3 {
  font-family: "Montserrat", cursive;
  color: #11999E;
}

p {
  font-family: "Merriweather", cursive;
  line-height: 2
}

hr {
  border: dotted #CFD2CF 8px;
  border-bottom: none;
  width: 6%;
  margin: 50px auto 50px auto;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

.top-container {
  margin: 0;
  background-color: #A2B5BB;
  position: relative;
  padding-top: 50px;
  padding-bottom: 10px;
}

.intro-container {
  background-color: #F7F5F2;
  margin: 0;
  position: relative;
  padding-top: 50px;
  padding-bottom: 10px;
}

.experience-container {
  background-color: #F2F2F2;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-me {
  margin: 10px 0 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0 20px;
}

.my-picture {
  float: left;
  margin: 40px 30px 0 70px
}

.intro {
  width: 48%;
  margin: 30px auto 50px auto;
  text-align: left;
}

.intro-h2 {
  width: 70%;
}

.work-picture {
  float: right;
  margin: 30px 70px 0 30px;
}

.skills {
  width: 50%;
  margin: 30px auto 50px auto;
  text-align: left;
}

.skills-h2 {
  padding-left: 400px;
}

.copyright {
  width: 40%;
  margin: 20px auto 0;
}

.top-cloud {
  position: relative;
  right: -450px;
  top: 20px;
}

.bottom-cloud {
  position: relative;
  left: -450px;
  top: 525px;
}

.dates {
  width: 50%;
  margin: auto;
  float: left;
  /*right: 225px;*/
}

.info {
  margin: auto;
  text-align: left;
}

.top-btn {
  background: #CFD2CF;
  background-image: -webkit-linear-gradient(top, #CFD2CF, #FCE2DB);
  background-image: -moz-linear-gradient(top, #CFD2CF, #FCE2DB);
  background-image: -ms-linear-gradient(top, #CFD2CF, #FCE2DB);
  background-image: -o-linear-gradient(top, #CFD2CF, #FCE2DB);
  background-image: linear-gradient(to bottom, #CFD2CF, #FCE2DB);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #1C3879;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  left: -350px;
  top: -40px;
}

.top-btn:hover {
  background: #607EAA;
  background-image: -webkit-linear-gradient(top, #607EAA, #2bc4ad);
  background-image: -moz-linear-gradient(top, #607EAA, #2bc4ad);
  background-image: -ms-linear-gradient(top, #607EAA, #2bc4ad);
  background-image: -o-linear-gradient(top, #607EAA, #2bc4ad);
  background-image: linear-gradient(to bottom, #607EAA, #2bc4ad);
  text-decoration: none;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
